.cart {
  width: 70%;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-color);
  border-radius: 10px;
  padding: 0.6rem;
  animation: slide-down 600ms ease-out forwards;
}

.cart h2 {
  color: var(--primary-color);
  background-color: var(--primary-font-color);
}
.cart .total {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  color: var(--primary-color);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
}

.cart .actions {
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
}
.cart .actions button,
.btn-clear {
  margin: 0 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-weight: 600;
  height: 2rem;
  width: 5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.cart .actions button:hover,
.btn-clear:hover {
  background-color: #fff;
  border: 2px solid var(--primary-color);
}
.cart .cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--primary-font-color);
  border-bottom: 2px solid var(--primary-color);
}
.cart .alert {
  text-align: center;
  padding: 0.5rem;
  color: var(--primary-color);
  font-weight: 500;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-text {
  color: var(--primary-font-color);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 0 2rem;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
