.form-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 2px solid var(--primary-font-color);
  animation: slide-down 400ms ease-out forwards;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container h3 {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-group:focus-within {
  transform: scale(1.02, 1.02);
}
.form-field {
  position: relative;
  margin: 0.6rem;
}

.form-control__checkout {
  /*reset default style*/
  box-shadow: none;
  /* background-color: rgba(0, 0, 0, 0.02); */
  background-color: transparent;
  border-radius: 0px;
  border-color: #ccc;
  border-style: none none solid none;
  transition: all 0.5s;
  padding: 0.3rem;
  width: auto;
  height: 1rem;
}
.form-control__checkout::placeholder {
  color: transparent;
}
.form-control__checkout:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--primary-color);
}
.form-control__checkout:focus + .form-label__checkout,
.form-control__checkout:not(:placeholder-shown) + .form-label__checkout {
  transform: translateY(-3em) scale(0.8);
  color: var(--primary-font-color);
}

.form-label__checkout {
  display: block;
  font-size: 1em;
  font-weight: bold;

  /* margin-bottom: 0.5rem; */
  color: #ccc;
  opacity: 1;
  margin-top: 0.2rem;
  transform: translateY(-3em) translateX(0.5em);
  transform-origin: 0 0; /*the animation happens at the top left*/
  transition: all 0.3s;
}

.card-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-date {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: repeat(2, 50px);
  gap: 1.5rem;
}
.card-date .form-control__checkout {
  width: 6rem;
}

.btn-checkout,
.btn-cancel {
  width: 90%;
  margin: 0.5rem;
  padding: 0.6rem;
  border-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-font-color);
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.btn-checkout:hover,
.btn-cancel:hover {
  background-color: var(--primary-color);
}
.btn-checkout:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
}
.error-text {
  color: red;
  font-size: 0.8rem;
  display: block;
  position: absolute;
  top: 1.8rem;
  right: 2.6rem;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (min-width: 768px) {
  .form-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .form-group {
    margin: 1rem;
  }
}
