@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --primary-color: #cf711f;
  --secondary-color: #d0711f;
  --primary-font-color: #45260a;
  --secondary-font-color: #353535;

  --neutral-color: #fdf2e9;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

code {
  font-family: "Rubik", sans-serif;
}
